# Dependencies
node_modules/

# Build output
client/dist/

# Catalyst
catalyst-debug.log
.catalyst/
.build/

# Env / local secrets
.env
.env.local

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
